@tailwind base;
@tailwind components;
@tailwind utilities;


/* -- -- -- -- -- H1 -- -- -- -- -- -- */
.home h1,
.login h1,
.pagina-perfil h1,
.pagina-test h1,
.pagina-TestCompleto h1,
.pagina-top5 h1{
    font-family: 'Roboto', sans-serif;
    font-size: 6rem;
}


/* -- -- -- -- -- HOME LOGIN REGISTRO -- -- -- -- -- -- */
.home .boton,
.login .boton{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: black;
    text-decoration: none;
}
.home-background,
.login-background {
    background-image: url('/src/img/sync_home_fondo.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }

.login .input{
  font-family: 'Roboto', sans-serif;
  border: 2px solid #ddd;
  outline: none;
}
.login .link-registrate{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}


/* -- -- -- -- -- P.PRINCIPAL -- -- -- -- -- -- */
.pagina-principal h1{
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
}
.pagina-principal a{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}


/* -- -- -- -- -- PERFIL -- -- -- -- -- -- */
.pagina-perfil p{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.miperfil-contenido{
  margin-left: 100px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.pagina-perfil .perfilformulario{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 4px;
}

.pagina-perfil .botonactualizar{
  border-radius: 30px;
}

.pagina-perfil .perfilformulario p,
.pagina-perfil .perfilformulario label {
  margin: 0;
  padding: 0;
}

.fondoimagenperfil{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 200%;
  z-index: -1; 
}
.perfil-boton-regreso{
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
}


/* -------- TEST ---------*/
.titulopreguntatest{
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
}
.opcionestest{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
.cajapreguntas{
  margin-left: 100px;
}
.pagina-test button p{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;

}
.pagina-test .botones-avanzar button {
  margin-top: 50px;
  padding: 5px 40px;
  font-weight: 500;
}
/* -- -- -- -- -- TOP5 -- -- -- -- -- -- */
.pagina-top5 h1{
  margin-top: 100px;
  margin-bottom: 50px;
}
.circular-chart {
  width: 80px;
  height: 80px;
  transform: rotate(-90deg);
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 10;
}

.circle {
  fill: none;
  stroke: #0395ff;
  stroke-width: 10;
  stroke-linecap: round;
  transition: stroke-dasharray 0.6s ease;
}


/* -- -- -- -- -- TestCompleto -- -- -- -- -- -- */
.pagina-TestCompleto p{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

@media (max-width: 1390px){
  /* -- -- -- -- -- HOME -- -- -- -- -- -- */
  .home-background,
  .login-background {
      background-image: url('/src/img/sync_home_fondo2.png');
  }

}
  
@media (max-width: 1160px){
  /* -- -- -- -- -- HOME -- -- -- -- -- -- */
  .home h1,
  .login h1{
    font-size: 5rem;
  }

}

@media (max-width: 1000px){
  /* -- -- -- -- -- HOME -- -- -- -- -- -- */
  .home h1{
      font-size: 4rem;
  }

  .login h1,
  .pagina-perfil h1
  .pagina-principal h1,
  .pagina-test h1,
  .pagina-TestCompleto h1,
  .pagina-top5 h1{
    font-size: 3.5rem;
}
/* -- -- -- -- -- PERFIL -- -- -- -- -- -- */
.perfil-cubrir{
  width: 60%;
}
}
  
@media (max-width: 795px) {
  /* -- -- -- -- -- HOME -- -- -- -- -- -- */
  .home-background,
  .login-background {
    background-image: url('/src/img/sync_home_fondo3.png');
    background-position: center;
    background-size: cover;
  }

}
@media (max-width: 600px) {
  /* -- -- -- -- -- HOME -- -- -- -- -- -- */
  .home-background,
  .login-background {
    background-image: none;
  }
  .home h1,
  .login h1,
  .pagina-perfil h1,
  .pagina-principal h1,
  .pagina-test h1,
  .pagina-TestCompleto h1,
  .pagina-top5 h1{
    font-size: 3rem;
  }
  .home .botones{
    width: 100%;
    justify-content: center;
  }
  .home .boton{
    width: 90%;
  }

  .login .formulario{
    width: 100%;
    justify-content: center;
  }
  .login .input, .boton, .formulario a{
    width: 90%;
  }
  .login .login-text{
    width: 90%;
  }
/* -- -- -- -- -- PRINCIPAL -- -- -- -- -- -- */
  .principal-menu{
    flex-direction: column;
    height: 75%;
  }
   /* -- -- -- -- -- PERFIL -- -- -- -- -- -- */
   .miperfil-contenido{
    margin-left: 50px;
  }
  .perfil-cubrir{
    width: 80%;
  }
  .cajapreguntas{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0px;
  }
  .pagina-perfil .botonactualizar{
    width: 80%;
  }
  
  
}